{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Scheduling{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/Plan-logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock %}
</body>
</html>